// flex 水平垂直居中
.flex_center(){
  display: flex;
  justify-content: center;
  align-items: center;
}
// flex-水平左对齐 - 垂直居中
.flex_start_center(){
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
// flex-水平右对齐 - 垂直居中
.flex_end_center(){
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
// flex-两端对齐 - 垂直居中
.flex_between_center(){
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// 鼠标悬停变手指
.cursor-pointer{
  &:hover{
    cursor: pointer;
  }
}
// 继承宽高
.extend-size{
  width: 100%;
  height: 100%;
}
