// 阳光🔆主题背景色
@background-color-light: #FFF;
 // 黑暗🌙主题背景色
@background-color-dark: #000;
@background-color-h1-dark: #151515;
@background-color-h2-dark: #1F1F1F;
// 阳光🔆主题文字颜色
@font-color-light: #000000D9;
@font-color-h1-light: #999999;
// 黑暗🌙主题文字颜色
@font-color-dark: #c9d1d9;
@font-color-h1-dark: #FFF;
@font-color-h2-dark: #FFFFFFA6;
// 阳光🔆主题边框颜色
@border-color-light: #D9D9D9;
// 黑暗🌙主题边框颜色
@border-color-dark: #303030;
// 阳光🔆主题hover颜色
@hover-color-light: #F6F6F6;
// 黑暗🌙主题hover颜色
@hover-color-dark: #242424;
